
body{
	background: url("../img/picture.jpg") no-repeat fixed center;
	opacity:0.9;
	font-family: 'EB Garamond', serif;
}


home{
font-family: 'Abril Fatface', cursive;
font-size: 150px;
color: white;
}


font-family: 'Markazi Text', serif;

font-family: 'Amatic SC', cursive;

.container{
	color: light;
	opacity:0.9;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding:10px 10px 10px 10px;
	border-radius: 25px;
}

img {
	border-radius: 100px;
}

.stuff{
	height: 1000px;
}


img{
	border-radius: 100%;
	size: 100px 100px;
	width:128px;height:128px;
}
.navbar {
	background-color: #CACFD2;
	color: black;
	opacity: 0.9;
	border-radius: 10px;
}

{
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.jobs{
	font-size: 25px;
}

